<section class="pmd-contact-us bg-dark text-white border-bottom p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12 p-0">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=digicorp&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                            href="https://www.emojilib.com">emojilib.com</a></div>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 100%;
                            width: 100%;
                        }
 
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 100%;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <h2>Contact Details</h2>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="media pt-2">
                            <i class="material-icons md-light pmd-icon-md mr-3">business</i>
                            <div class="media-body">
                                <p class="pmd-list-subtitle mb-1  text-white">Registered Office</p>
                                <h2 class="pmd-list-title text-white" style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                                    Shop No 56, Gr Flr, Bedekar Sadan No 3, Gharpure Path, Formally Known As Mugbhat
                                    Lane, Girgaon, Mumbai - 400004 Maharashtra, India
                                </h2>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-12">
                        <div class="media pt-2">
                            <i class="material-icons md-light pmd-icon-md mr-3">work</i>
                            <div class="media-body">
                                <p class="pmd-list-subtitle mb-1 text-white">Works</p>
                                <h2 class="pmd-list-title text-white" style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                                    18th Road, Opp Electric Office, Chembur (east), Mumbai - 400071 Maharashtra, India
                                </h2>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="media pt-2">
                            <i class="material-icons md-light pmd-icon-md mr-3">call</i>
                            <div class="media-body">
                                <p class="pmd-list-subtitle mb-1 text-white">Local Inquiry</p>
                                <h2 class="pmd-list-title"><a class="text-white" href="tel:+91 79255 01989" style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">+91 9912567282</a></h2>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="media pt-2">
                            <div class="media-body">
                                <p class="pmd-list-subtitle mb-1 text-white">Global Inquiry</p>
                                <h2 class="pmd-list-title"><a class="text-white" href="tel:+1 215 397 3819" style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">+1 569 3977856</a></h2>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="media pt-2">
                            <i class="material-icons md-light pmd-icon-md mr-3">email</i>
                            <div class="media-body">
                                <p class="pmd-list-subtitle mb-1 text-white">Email Address</p>
                                <h2 class="pmd-list-title"><a class="text-white" href="mailto:support@xyz.com" style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">support&#64;gmail.com</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



