.Home{
    height: 100vh; /* Full viewport height */
    background-image: url(https://blogimage.vantagecircle.com/content/images/2019/10/employee-grievances.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    color: black;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Optional text styling */
    text-align: center;
}
.container{
    margin-left: 70px;
    
    
}