.task-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 37vh;
    padding: 20px;
    .task-card{
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        width: 100%;
        .task-details{
            padding: 20px;
            .task-name{
                font-size: 20px;
                font-weight: bold;
                color: #108ee9;
                margin-bottom: 10px;
            }
            .task-description{
                margin-bottom: 10px;
            }
            .task-info{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;
                margin-top: 10px;
                .info-row{
                    flex: 0 0 50%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    .info-label{
                        font-weight: 10px;
                        margin-right: 5px;

                    }
                    .info-value{
                        font-weight: bold;

                    }
                }
            }
            .action{
                display: flex;
                justify-content: flex-end;
                margin-top: 10px;
                .update-button{
                    margin-right: 10px;
                }
                .view-button{
                    margin-right: 10px;
                }
            }
        }
    }
}

.card-container{
    margin: 16px;
    max-width: 60%;
    padding-bottom: 30px;

}
mat-card{
    padding: 10px;

}
.example-header-image{
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

mat-card-content{
    margin-top: 10px;

}
mat-card-footer{
    margin-left: 20px;
}
.comment-card{
    margin-top: 20px;
}
mat-form-field{
    width: 100%;
}