<div class="container">
    <h2>Update Task</h2>
    <form [formGroup]="updateTaskForm" (ngSubmit)="updateTask()">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Title</mat-label>
            <input matInput type="text" placeholder="title" formControlName="title" />
            <mat-error *ngIf="updateTaskForm.get('title')?.hasError('required')">
                This input is required
            </mat-error>
              
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
            <mat-error *ngIf="updateTaskForm.get('description')?.hasError('required')">
                This input is required
            </mat-error>  
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>DueDate</mat-label>
            <input matInput [matDatepicker]="dueDatePicker" placeholder="Choose a DueDate" formControlName="dueDate"/>
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker ></mat-datepicker>

            <mat-error *ngIf="updateTaskForm.get('dueDate')?.hasError('required')">
                This input is required
            </mat-error>  
        </mat-form-field> 

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select priority</mat-label>
            <mat-select formControlName="priority" name="Priority">
                <mat-option *ngFor="let priority of listOfPriorities" [value]="priority">
                    {{priority}}
                </mat-option>  
            </mat-select>      
            <mat-error *ngIf="updateTaskForm.get('priority')?.hasError('required')">
                This input is required
            </mat-error>  
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select Status</mat-label>
            <mat-select formControlName="taskStatus" name="taskStatus">
                <mat-option *ngFor="let status of listOfTaskStatus" [value]="status">
                    {{status}}
                </mat-option>  
            </mat-select>      
            <mat-error *ngIf="updateTaskForm.get('status')?.hasError('required')">
                This input is required
            </mat-error>  
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select Employee</mat-label>
            <mat-select formControlName="employeeId" name="employeeId">
                <mat-option *ngFor="let employee of listOfEmployees" [value]="employee.id">
                    {{employee.name}}
                </mat-option>  
            </mat-select>      
            <mat-error *ngIf="updateTaskForm.get('employeeId')?.hasError('required')">
                This input is required
            </mat-error>  
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="updateTaskForm.invalid">Update Task</button>
        
    </form>
</div>
